.tabs {
  font-family: 'Open Sans';
  position: relative;
}

.tabs::before,
.tabs::after {
  content: '';
  display: table;
}

.tabs::after {
  clear: both;
}

.tab {
  float: left;
}

.tab-switch {
  display: none;
}

.tab-label {
  position: relative;
  display: block;
  line-height: 1.5em;
  padding: 0 1.618em;
  color: #000;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}

.tab-label:hover {
  transition: border-bottom 0.25s;
  border-bottom: 0.125rem solid #a0d1c5;
}

.tab-content {
  height: 120rem;
  overflow: scroll;
  position: absolute;
  z-index: 1;
  top: 1.55em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
  width: 100%;
}

.tab-switch:checked + .tab-label {
  color: #2c3e50;
  transition: all 0.35s;
  z-index: 1;
  border-bottom: 0.125rem solid #a0d1c5;
}

.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

.tab-content table {
  border-collapse: collapse;
}

.tab-content table,
.tab-content table th,
.tab-content table td {
  border: 1px solid black;
}

.tab-content table th,
.tab-content table td {
  padding: 1em;
  vertical-align: top;
  max-height: 100em;
  overflow-y: auto;
}

.tab-content table td.r400,
.tab-content table td.r500,
.tab-content table td.r502,
.tab-content table td.r503 {
  background-color: papayawhip;
}

.tab-content table td.warn {
  background-color: burlywood;
}

.tab-content table td.danger {
  background-color: indianred;
}

.tab-content table td pre {
  max-height: 20em;
  max-width: 35em;
  overflow: auto;
}

.tab-content .explain .stageName {
  font-weight: bold;
}

.tab-content .explain .details {
  color: #999;
  font-size: 90%;
}

#serverlogsTab pre {
  padding: 1em;
  border: 1px solid black;
  background-color: #e3e3e3;
}
